.section {
    grid-column: 1 / 2;
    width: 100%;
}

.title {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin: 40px 0 20px;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .tab {
        min-width: 100%;
        width: 100%;
    }
}


.ingredientsList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 65vh;
    min-height: 600px;
    margin: 0;

    &::-webkit-scrollbar {
        width: 10px;               /* ширина scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: #2F2F37;        /* цвет дорожки */
    }

    &::-webkit-scrollbar-thumb {
        background-color: #8585AD;
        border: 3px solid #8585AD;
    }
}

