

.price {
    display: flex;
    align-items: center;

    span {
        margin-right: 10px;
        font-weight: 400;
        font-size: 28px;
        line-height: 24px;
    }
}

.ingredient {
    display: flex;
    position: relative;
    flex-direction: column;
    width: calc(100% - 15px);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 208px;
    transition: box-shadow .5s linear;
    padding: 3px;
    margin-left: 3px;
    box-sizing: border-box;

    &:nth-child(2n) {
        margin-right: 15px;
        margin-left: 0;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 4px 10px #8585AD;
        transition: box-shadow .5s linear;
    }
}

.wrapLink {
    text-decoration: none;
    color: #F2F2F3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h3 {
        text-align: center;
    }
}