.container {
    box-sizing: border-box;
    height: auto;
    min-height: 500px;
    width: 720px;
    padding: 40px 40px 65px;
    position: fixed;
    left: calc(50% - (720px / 2));
    right: calc(50% - (720px / 2));
    top: 15vh;
    z-index: 2;
    background-color: #1C1C21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
}
.button {
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    right: 40px;
    top: 40px;
    transition: scale .5s linear;
    cursor: pointer;
}
.title {
    text-align: start;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin: 0;
}
.children{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 180px);
    margin: 0 auto;
}