.header{
    background: #1C1C21;
    max-width: 1920px;
    width: 100%;
    margin: 0px auto 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav{
    display: flex;
    height: 88px;
    align-items: center;
}
.logo{
    margin: 0 288px 0 112px;
    height: 45px;
}
.link{
    display: flex;
    align-items: center;
    border: 1px dashed #00000000;
    border-radius: 40px;
    padding: 16px 20px;
    text-decoration: none;
    color: #8585AD;
}
.linkActive{
    composes: link;
    color: #F2F2F3;
}
.link:first-of-type{
    margin-right: 8px;
}
.text{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 9px;
    width: 100%;
    white-space: nowrap;
}
