.burgerConstructor {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, fit-content);
    align-items: center;
}

.burgerBunTop {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    padding-left: 95px;
    margin-bottom: 16px;
}

.burgerBunBottom {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    padding-left: 95px;
    margin-top: 16px;
}

.ingredientsList {
    grid-column: 1 / 4;
    list-style-type: none;
    padding-left: 60px;
    max-height: calc(60vh - 200px);
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 460px;

    &::-webkit-scrollbar {
        width: 10px;
        /* ширина scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: #2F2F37;
        /* цвет дорожки */
    }

    &::-webkit-scrollbar-thumb {
        background-color: #8585AD;
        border: 3px solid #8585AD;
    }
}

.ingredient {
    margin-bottom: 16px;
}

.burgerPrice {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding: 40px 40px 40px 0;

    span {
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 36px;
        padding-right: 9px;
    }

    svg {
        width: 33px;
        height: auto;
    }
    grid-column: 2 / 3;
}

.submitButton {
    background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
    border-radius: 64px;
    font-weight: 400;
    border: none;
    font-size: 16px;
    line-height: 24px;
    padding: 20px 40px;
    color: #F2F2F3;
    height: fit-content;
    grid-column: 3 / 4;
    opacity: 1;
    transition: opacity .3s ease;

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        opacity: .7;
        cursor: not-allowed;
        transition: opacity .3s ease;
    }
}